<div class="container text-center">
<div class="card-res-div">
  <div class="offer-show-card">
    <div class="show-card-res">
      <%= cl_image_tag @reservation.offer.photo.key, id: 'image-cat' %>
    </div>
    <h1><%= @reservation.offer.name %></h1>
    <p class="offer-show-address"><%= @reservation.offer.location %></p>
  </div>
  <div class="res-show-card">
  <ul>
  <li>Pick up date: <%= @reservation.start_date %></li>
  <li>Return date: <%= @reservation.end_date %></li>
  <li>Total price: <%= @reservation.total_price %></li>
  </ul>
  </div>
</div>
</div>
