
 <div class="containe-wrapper">
  <div class="container text-center">
    <div class="card-res-div">
      <div class="offer-show-card">
        <div class="show-card-res">
          <%= cl_image_tag @reservation.offer.photo.key, id: 'image-cat' %>
        </div>
        <strong><i class="fas fa-paw"></i> <%= @reservation.offer.name %> <i class="fas fa-paw"></i></strong>
      </div>
      <div class="res-show-card">
          <h3>Congratulations!!!!!!</h3>
          <p>You gonna spend <%=(@reservation.end_date - @reservation.start_date).to_i%> days with <strong><span class="red"><%= @reservation.offer.name %></span></strong> </p>
          <p>Thanks so much for your <%= @reservation.total_price %> <i class="fas fa-euro-sign"></i></p>
      </div>
    </div>
  </div>
 </div>
